<% @fantasy_baseball_teams.each do |fantasy_baseball_team| %>
  <div class='row display-flex'>
    <div class='col-2'>
      <%= image_tag(fantasy_baseball_team.team_icon_url) unless fantasy_baseball_team.team_icon_url.blank? %>
    </div>
    <% if fantasy_baseball_team.new_record? %>
      <div class='col-10 league-row'>
        <div><strong><%= fantasy_baseball_team.team_name %></strong></div>
        <div><strong><%= fantasy_baseball_team.league_name %></strong></div>
        <div><%= link_to 'Add Team', new_fantasy_baseball_team_path(:id => fantasy_baseball_team.league_key) %></div>
      </div>
    <% else %>
      <div class='col-10 league-row'>
        <div><strong><%= link_to fantasy_baseball_team.team_name, fantasy_baseball_team_path(fantasy_baseball_team) %></strong></div>
        <div><strong><%= fantasy_baseball_team.league_name %></strong></div>
        <div><%= link_to 'Edit', edit_fantasy_baseball_team_path(fantasy_baseball_team) %></div>
      </div>
    <% end %>
  </div>
<% end %>
